<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div id="logo">
            <h1>LOGO</h1>
            <div id="search-bar">
                <input type="text" id="search-input" placeholder="Search...">
                <button type="submit" id="search-button">Search</button>
            </div>
        </div>
        <nav id="nav-bar">
            <ul>
                <li><a href="/" id="nav-link">Home</a></li>
                <li><a href="/about" id="nav-link">About</a></li>
                <li><a href="/cart" id="nav-link">Cart</a></li>
                <li><a href="/contact" id="nav-link">Contact</a></li>
            </ul>
            <div id="user-info">
        </nav>
        
    </header>
    <div>
        <h1>This page has been temporarily suspended!</h1>
        
    </div>
</body>
</html>